<div class="center">
  <% page.posts.each(post=>{ %>
  <div class="container">
    <a href="<%=url_for(post.path)%>">
      <%= post.title %>
    </a>
    <div><%- date( post.date , 'YYYY/MM/DD HH:mm') %></div>
    <%- post.excerpt %>
  </div>
  <% }) %>

  <div class="page">
    <%- paginator({
      prev_text: '<',
      next_text: '>'
  }) %>
  </div>
</div>