<div class="center">
  <% page.posts.each(post=>{ %>
  <div class="container">
    <h2>
      <a href="<%=url_for(post.path)%>">
        <%= post.title %>
      </a>
    </h2>
    <div><%- date( post.date , 'YYYY/MM/DD HH:mm') %></div>
    <hr>
    <%- post.excerpt %>
  </div>
  <% }) %>

  <div class="page">
    <%- paginator({
      prev_text: '<',
      next_text: '>'
  }) %>
  </div>
</div>