<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= config.title  %></title>
  <script src="<%- url_for('/lib/js/prettify.js') %>"></script>
  <script src="<%- url_for('/lib/js/jquery-3.6.4.js') %>"></script>
  <%- partial('partial/css',{},{cache:true}) %>
  <link rel="stylesheet" type="text/css" href="<%- url_for('/css/main.css') %>">
  <link rel="stylesheet" type="text/css" href="<%- url_for('/lib/css/prettify/'+theme.highlight.light+'.min.css') %>">
</head>

<body>
  <div>
    <%- partial('partial/header/index') %>
  </div>
  <div id="top">
    <div class="author">
      <img src="<%- url_for(theme.images.avatar) %>">
      <span><%= config.author %></span>
    </div>
  </div>

  <div id="main">
    <div>
      <%- partial('partial/sidebar/index') %>
    </div>
    <div class="content">
      <%- body %>
    </div>
  </div>

  <%- partial('partial/footer/index') %>
  <%- partial('partial/mathjax') %>
</body>

</html>