<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= config.title  %></title>
  <script src="<%- url_for('/lib/js/prettify.js') %>"></script>
  <script src="<%- url_for('/lib/js/jquery-3.6.4.js') %>"></script>
  <%- partial('partial/css',{},{cache:true}) %>
  <link rel="stylesheet" type="text/css" href="<%- url_for('/css/main.css') %>">
  <link rel="stylesheet" type="text/css" href="<%- url_for('/lib/css/prettify/'+theme.highlight.light+'.min.css') %>">
</head>

<body>
  <div>
    <%- partial('partial/header/index') %>
  </div>
  <div class="back">
    <img src="<%- theme.images.background %>">
  </div>

  <div class="main">
    <div class="sidebar">
      <%- partial('partial/sidebar/index') %>
    </div>
    <div class="content">
      <%- body %>
    </div>
  </div>

  <%- partial('partial/footer/index') %>
  <%- partial('partial/mathjax') %>

  <script type="text/javascript">
    $(document).ready(function() {
      $('pre').addClass('prettyprint');
      $('code').addClass('prettyprint');
      prettyPrint();
    })
  </script>
</body>

</html>