<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= config.title  %></title>
  <%- partial('partial/css',{},{cache:true}) %>
  <link rel="stylesheet" type="text/css" href="<%- url_for('/css/main.css') %>">
</head>

<body>
  <%- partial('partial/header/index') %>

  <%- body %>

  <h3>categories</h3>
  <ul>
    <% site.categories.each(category=>{ %>
    <li>
      <a href="<%- url_for(category.path) %>"> <%- category.name %> </a>
    </li>
    <% }) %>
  </ul>

  <h3>tags</h3>
  <ul>
    <% site.tags.each(tag=>{ %>
    <li>
      <a href="<%- url_for(tag.path) %>"> <%- tag.name %> </a>
    </li>
    <% }) %>
  </ul>

  <%- partial('partial/mathjax') %>
</body>

</html>