<div class="center">
  <div class="container">
    <div class="title">
      <h1><%= page.title %></h1>
      <span><%- page.categories.map(x=>'<a href="'+url_for('/categories/'+x.name)+'">'+x.name+'</a>').join(' | ') %> | <%= date( page.date , 'YYYY/MM/DD HH:mm') %></span>
    </div>
    <%- page.content %>
  </div>
</div>
<div>
  <div class="menu">
    <div class="container">
      <%- toc(page.content) %>
    </div>
  </div>
</div>