<div class="side">
  <div class="container">
    <div class="author">
      <img src="<%- url_for(theme.images.avatar) %>">
      <span><%= config.author %></span>
    </div>
  </div>
  <div class="container">
    <h3>categories</h3>
    <ul>
      <% site.categories.each(category=>{ %>
      <li>
        <a href="<%- url_for(category.path) %>"> <%- category.name %> </a>
      </li>
      <% }) %>
    </ul>
  </div>

  <div class="container">
    <h3>tags</h3>
    <ul>
      <% site.tags.each(tag=>{ %>
      <li>
        <a href="<%- url_for(tag.path) %>"> <%- tag.name %> </a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>