<div class="center">
  <% page.posts.each(post=>{ %>
  <div class="container">
    <% if(mini){ %>
    <div class="minititle">
      <h2>
        <a href="<%= url_for(post.path) %>">
          <%= post.title %>
        </a>
      </h2>
      <span><%- date( post.date , 'YYYY/MM/DD') %></span>
    </div>
    <% }else{ %>
    <h2>
      <a href="<%=url_for(post.path)%>">
        <%= post.title %>
      </a>
    </h2>
    <div class="articleinfo">
      <span><%- date( post.date , 'YYYY/MM/DD') %></span>
      <div class="vl"></div>
      <% post.categories.each(cat=>{ %>
      <a href="<%- url_for(cat.path) %>"><%= cat.name %></a>
      <% }) %>
      <div class="vl"></div>
      <% post.tags.each(tag=>{ %>
      <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
      <% }) %>
    </div>
    <hr>
    <p>
      <a class="noselect" href="<%= url_for(post.path) %>">
        <%= strip_html(post.excerpt) %>
      </a>
    </p>
    <% } %>
  </div>
  <% }) %>

  <div class=" page">
    <% if(paging){ %>
    <%- paginator({
      end_size: 2,
      mid_size: 1,
      prev_text: '\x3c',
      next_text: '>'
      }) %>
    <% } %>
  </div>
</div>